@import url('https://fonts.googleapis.com/css?family=Quicksand');

html{
	line-height: 1.1;
	font-family: 'Lato', sans-serif !important;
	font-weight: lighter;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
	line-height: 1.1;
	font-family: 'Lato', sans-serif !important;
	font-weight: lighter;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: ;
}

::selection {
    color: white; 
    background: #E81B00;
}

quote {
border:none;
font-family:  Georgia, "Times New Roman", Times, serif;
margin-bottom:-30px;
quotes: "\201C""\201D""\2018""\2019";
}


quote:before { 
    content: open-quote;
    font-weight: bold;
    font-size:20px;
    color:#E81B00;
} 
quote:after { 
    content: close-quote;
    font-weight: bold;
    font-size:20px;
    color:#E81B00; 
}

ul.sidenav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    /*width: 25%;*/
    background-color: #222222;
    position: fixed;
    /*height: 100%;
    overflow: auto;*/
    z-index: 20;
    opacity: 1;
}

ul.sidenav li a{
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

ul.sidenav li.icon{
    display: none;
}

ul.sidenav li a:hover:not(.active) {
    /*background-color: #555;*/
    color: #CCC;
}

.active {
    background-color: transparent;
}

ul.sidenav{
    width:100%;
    height: auto;
    position: fixed;
     transition: .2s;
}

ul.sidenav li:not(:first-child) a{
    padding: 20px;
    font-size: 15px;
}

ul.sidenav li:not(:first-child){
    float: right;
}

ul.sidenav li#logo a{
    float: left;
    padding: 6px;
    font-size: 35px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-transform: uppercase;
}


div.content {margin-left: 0;}

/*HEADER*/

.header{
    /*margin-top: 55px;*/
    text-align: center;
    width: 100%;
    height: 100vh;
}

.header:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/machine.jpg') !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    opacity: .4;
    object-fit: cover;
}

.header section{
    position: absolute;
    z-index: 5;
    width: 100%;
    margin-top: 15%;
}

.header section h1{
    opacity: 1;
    font-size: 50px;
}

.header section h3{
    
    margin-top: 10px;
}

.header object{
    height: 90vh;
    width: 100%;
    margin-top: 60px;
    opacity: .75;
}

.header-button{
    padding: 8px 12px;
    font-size: 20px;
    background-color: white;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 220px;
    opacity: .7;
    margin-top: 30px;
    border: none;
    border-radius: 2px;
}

#black-button{
    background-color: black;
    color: white;
}

.header-button:hover{
    opacity: 1;
}
    
/*END OF HEADER*/


/*FEATURES*/
.features, .testi{
    /*padding: 60px 60px;*/
    text-align: center;
    /*background-color: #eeeeee;*/
    outline: none !important;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center; 
}

.features {
    position: relative;
}

.features:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/blue.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .8;
    object-fit: cover;
}


.person h2, .features h2{
    margin: 20px 0 20px;
    color: #4c4c4c;
}

.features h1 {
    font-size: 45px;
    color: #fff;
    padding-bottom: 30px;
}

.features p{
    color: #737373;
    font-size: 18px;
    padding-bottom: 30px;
}

.features img{
    height: 110px;
    width: 90px;
    padding: 0px 0px;
}

.feature, .person{
    padding: 10px;
    background-color: rgba(255,255,255, 1);
    overflow-wrap: break-word;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*END FEATURES*/

/*TESTIMONIALS*/
.testi{
    background-color: #fff;
    text-align: center;
    width: 100%;
    position: relative;
}

.testi object{
    position: absolute;
    height: 70vh;
    width: 100%;
    margin-top: 60px;
    opacity: .95;
    z-index: 0;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    opacity: .4;
}


.testi h2{
    font-size: 45px;
}

.person{
    margin-top: 50px;
    background-color: rgba(246,246,246,.7);
}

.person img{
    width: 120px;
    margin:auto;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin-top: -50px;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
    z-index: 2;
}

.person p{
    margin-top: 80px;
    font-size: 14px;
    color: #000;
    font-weight: lighter !important;
    line-height: 170%;
}

.person p.name{
    margin-top: 40px;
    color: #E81B00;
}

/*END TESTIMONIALS*/



/*PRICING*/
.pricing{
    /*padding: 40px;*/
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}

.pricing:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/static/images/tablet.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .5;
    object-fit: cover;
}

.pricing p,
.pricing h1{
    color: #000;
}

.pricing h1 {
    font-size: 45px;
    color: #000;
}

.pricing .red-section h1{
    color: #fff;
}

.pricing p{
    /*padding-bottom: 40px;*/
}

.pricing .package{
    
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    margin-top: 15px;
    margin: auto;
}



.package li {
    display: block;
    padding: 2px;
    font-size: 13px;
    font-weight: lighter;
}

.package .red-section{
    background-color: #E81B00;
    padding: 5px;
    color: #fff;
    height: auto;
    margin-top: 15px;
}

.package .white-section{
    background-color: rgba(255,255,255, 0.5);
    padding: 5px;
    color: #000;
}

.package h1,
.package b, {
    color: #fff;
}

.package h1 .small-print{
    font-weight: lighter;font-size: 15px;
}

.package .red-section p{
    color: #fff !important;
    font-size: 15px;
    font-weight: lighter;
}


.package li {
    color: #000;
    padding-top: 20px;
}

.package p{
    padding-top: 15px;
    font-weight: bold;
}


.package button {
    margin-top: 15px;
    border-radius: 0px;
    background-color: #E81B00;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

.package button:hover {
    background-color: #a85959;
}


@media(max-width: 768px) {
    .pricing {
        padding: 30px;
    }

    .package {
        width: 80%;
        margin-left: 35px;
    }
}
/*END PRICING*/

/*CONTACT*/

#contact {
    /*margin-top: 250px !important;*/
    border: none;
    outline: none !important;
}

.contact {
    padding: 15px;
    text-align: center;
    /*margin-top: 200px;*/
}

.contact p {
    padding-bottom: 10px;
    color: #737373;
    z-index: 1500;
}

.contact h2 {
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group {
    margin-bottom: 25px;
}

.contact .form-control {
    border-radius: 0 !important;
}

.contact span {
    border-radius: 0 !important;
}

.contact .btn {
    border-radius: 0;
    width: 100%;
    font-size: 15px;
    background-color: #E81B00;
    color: #fff;
}

.contact .btn:hover {
    background-color: #a85959;
    color: #fff !important;
}

/*END CONTACT*/

/*MESSAGE SENT SUCCESSFULLY*/

#output #check {
    border-radius: 50%;
    font-size: 40px;
}

#output {
    display: none;
}

/*END MESSAGE SENT SUCCESSFULLY*/


/*FOOTER*/

/*.fp-tableCell {
    vertical-align: bottom !important;
}
*/
div.footer#footer {
    padding: 15px;
    color: #cccccc !important;
    background-color: #222222 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}

.footer #logo a{
    /*padding: 10px;*/
    font-size: 30px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: inherit;
    text-decoration: none;
    }


.footer .social{
    font-size: 25px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
    /*border: 1px solid #cccccc;*/
    margin-top: 30px;
    margin-right: 15px;
    color: #cccccc !important;
    background-color: #222222 !important;
}

.footer .contact, .footer .about a{
    font-size: 12px;
    text-align: center;
    padding: 2px;
    color: #cccccc !important;
    text-decoration: none;
    margin-right: 5px;
}

.footer .copy {
    text-align: center;
    padding-top: 15px;
}

.footer input {
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    padding: 10px 5px 10px;
    /*margin: -3px 0 5px 5px;*/
    border-radius: 0;
    background-color: #E81B00;
    color: #fff !important;
    border: none;
}

.footer .btn:hover {
    background-color: #a85959;
    color: #fff !important;
}

.fp-section {
    height: auto !important;
}

/*END FOOTER*/


/*UP ARROW*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}

#return-to-top i {
    color: #fff !important;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*END UP ARROW*/




/*package signup*/

/*basic reset*/

.package-form {
    height: 100vh;
    /*Image only BG fallback*/
    
    /*background = gradient + image pattern combo*/
    background: url('/static/images/pay5.jpg');
    /*linear-gradient(rgba(245,248,250, 1), rgba(255, 255, 255, 0.6));*/
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px 0px;
    align-items: center;
    display: grid;
}

.package-form h1 {
   font-size: 45px;
    color: #fff; 
}

/*form styles*/

#msform {
    width: 400px;
    margin: auto;
    text-align: center;
    position: relative;
    opacity: .9;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    opacity: 1;
    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}
/*buttons*/
#msform .action-button {
    width: 100px;
    background: #E81B00;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #E81B00;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    color: white;
}
#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    width: 30.33%;
    float: left;
    position: relative;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    color: white;

}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;

    z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #E81B00;
    color: white;
}

#output {
    background-color: rgba(255,255,255,.6);
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    margin: auto;

}



/*end package signup*/
@media screen and (max-width: 950px) {

.fs-subtitle {
    font-weight: normal;
    font-size: 10px;
    color: #666;
    margin-bottom: 5px;
}

.fs-title {
    font-size: 10px;
}

#msform input, #msform textarea, #msform select {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform .action-button {
    width: 100px;
    background: #E81B00;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 2px; 
    margin: 2px 2px;
}


#msform {
    width: 95%;
    margin: auto;
    text-align: center;
    position: relative;
    opacity: .9;
}


.package-form h1 {
   font-size: 30px;
     
}

.pricing, .features, .testi {
     display: block;
     height: auto;
     padding: 20px;
    }

.feature {
    margin: 20px 0;
    }

#footer-sec {
    height: 500px !important;
    /*margin-top: 10px;*/
    }

#contact {
    padding-top: 45px;
    }

.header section h1 { 
    font-size: 30px;
    margin-top: 30px;
    }

#pricing {
    padding-top: 45px;
    }

/*FOR MENU ICON ANIMATION*/

li div#nav-icon{
  width: 60px;
  height: 45px;
  position: relative;
  margin: 10px 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
    }

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
    }

#nav-icon span:nth-child(1) {
  top: 0px;
    }

#nav-icon span:nth-child(2) {
  top: 18px;
    }

#nav-icon span:nth-child(3) {
  top: 36px;
    }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
    }

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
    }

#nav-icon.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
    }  

/*END OF ICON ANIMATION*/
  

ul.sidenav li:not(:first-child){
    display: none;
    }

ul.sidenav li.icon{
    display: block;
    float: right;
    padding: 0;
    }

ul.sidenav li.icon a{
    padding: 0;
    }

/* ul.sidenav.responsive{position: relative;}*/
ul.sidenav.responsive li.icon{position: absolute;right: 0;top:0;}
ul.sidenav.responsive li{ display: block;float: none;}
ul.sidenav.responsive li a{display: block; text-align: center;}


.header-button{
    margin: 10px;
    }

.header section{
    margin-top: 15%;
    }

.connect-section {
    float: none !important;
    }

}/*END OF MEDIA QUERY*/